
h1
{
    padding-top: 1%;
    padding-left: 1.5%;
    font-size: 90%;
    line-height: 20%;
    color: black;
    text-align: left;
    font-family: 'Poppins-ExtraLight', Arial, sans-serif;

}
h2
{
    padding-top: 1%;
    padding-left: 1%;
    font-size: 100%;
    text-align: justify;
    line-height: 20%;
    color: black;
    font-family: 'Poppins-Bold', Impact, "Arial Black", Arial, Verdana, sans-serif;
    display: inline-block;
}

p
{
    width: 100%;
    height: 50%;
    text-align: left;
    vertical-align: center;
    font-size: 90%;
    line-height: 200%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}

nav
{
    margin: 0%;
    padding: 0%;
    margin-top: -28px;

}

nav ul
{
    padding-bottom: 0%;
    margin-top: 0%;
    text-align: right;
    line-height: 5%;
}

nav li
{
    display: inline;
    list-style: none;
    font-size: 14px;
    font-family: 'Poppins-Bold', Impact, "Arial Black", Arial, Verdana, sans-serif;
}

nav a /* liens par défaut (non survolés) */
{
    margin: 0 20px;
    padding: 0%;
    display: inline;
    text-decoration: none;
    color: black;
    font-style:;

}

nav a:hover /* liens survolés */
{
    text-decoration: none;
    color: red;
}


header
{
    padding-bottom: 2%;
    background-color: white;
    border-bottom: 1.1px solid grey;
    width: 100%;
    position: fixed;
}

h3
{

    color: black;
    font-size: 110%;
    line-height: 20%;
    padding-left: 1.5%;
    text-align: left;
    font-family: 'Poppins-Bold', Arial, sans-serif;
}

#conteneur
{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 100%;
    background-color:;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

#banniere
{
    width: 1900x;
    height: 300px;
    background-image: url(img/tomas_saraceno.jpg);
    background-position: center;
    margin-left: 5%;

}

section
{
    width: 100%;
    height: 50%;
    text-align: left;
    vertical-align: center;
    font-family: 'Poppins-ExtraLight', Arial, sans-serif;
    font-size: 90%;
    line-height: 200%;
    color: black;
}


body
{
    background-color: ;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 86%;
    min-width: 86%;
    margin: 0%;
    padding: 0%;
    overflow: auto;
} 


footer
{
    background: black;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 9%;
    vertical-align: ;
    font-size: 90%;
    line-height: 200%;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    text-align: center;
    font-family: 'Poppins-ExtraLight', Arial, sans-serif;
}



@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('font/Poppins-ExtraLight.otf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('font/Poppins-Bold.otf');
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est inférieure à 1024px et sur tous types d'écran orientés verticalement */
@media all and (max-width: 1024px) and (orientation: portrait)
{
    #bloc_page
    {
        width: auto;
    }

    #header
    {
        margin-bottom: 0%;
    }



    #sidebar
    {
        display: none;
    }

    #conteneur
    {
        display: block;
        flex-direction: column;
        min-width: 350%;
        overflow: auto;
    }

    h2
    {
        line-height: 180%;
    }
}

