html
{
    height: 100%;
    position: relative;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%;
}

body
{
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;
    background-attachment: relative;
    overflow-y: scroll;
    overflow-x: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-family: sans-serif;
    position: relative;

} 

.header
{
    width: 100%;
    flex-direction: row;
    background-color: white;
    padding-top: -1%;
    position: fixed;
    border-bottom: 1px solid rgb(233, 233, 233);
    z-index: 1000;
}

.header .nav .ul .li
{
    display: inline-block;
}

header h1 /* "Aurore GRANGIER Développement web*/
{
    font-family: 'NimbusSansBeckerPBlaRegular', sans-serif;
    font-size: 35px;
    line-height: 28px;
    text-align: center;
    color: black;
}


.navi
{
    font-family: 'HALOT', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-left: -1%;
    margin-top: -4%;
    position: relative;
}

.reseaux
{
    text-align: right;
    margin-right: 3%;
    margin-top: -4.5%;
    position: relative;
}


/* Style buttons */
.btn
{
    background-color:rgba(0, 0, 0, 0.8);
    border: 0.2px solid rgb(239, 239, 239);
    padding: 12px 16px;
    font-size: 14px;
    cursor: grab;
    border-radius: 50%;
}
  
/* Darker background on mouse-over */
.btn:hover
{
    background-color: black;
    color; white;
}

nav ul
{
    display: inline-flex;

}

nav ul li
{
    list-style-type: none;

}

nav ul li a
{
    color: rgb(153, 152, 152);
    text-decoration: none;
    padding: 0px 10px;
}

a:hover /* liens survolés */
{
    color: black;
    text-decoration: none;
}

.asphalt
{
    margin-top: -40%;
    margin-left: -5%;
    z-index: 996;
    position: relative;
}

.asphalt2
{
    margin-top: -35%;
    margin-left: 87%;
    z-index: 998;
    position: relative;
}

.proposcolor
{
    width: 100%;
    margin-left: 0%;
    position: relative;
    display: inline-block;
    background-color: rgb(250, 114, 104);
    transition-property: background-color;/* Active la transition sur background-color */
    transition-duration: 1500ms;
    transition-delay: 0.1s; /* Démarre au bout de 0,1s */
    transition-timing-function: ease;
    animation-iteration-count: infinite;
    padding-top: 38%; 
}


.proposcolor:hover
{
    background-color: rgb(255, 244, 141);
}


#propos
{
    width: 35%;
    margin-left: 45%;
    margin-top: -22%;
    position: relative;
    display: inline-block;
    background-color: white;
    color: black;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-top: 4%; 
    padding-bottom: 4%;
    margin-bottom: 12%;
    letter-spacing: 1px;
    z-index: 998;
    line-height: 2em;
}

.experiencescolor
{
    width: 100%;
    height: 10%;
    margin-left: 0%;
    position: relative;
    display: inline-block;
    background-color: rgb(158, 14, 64);
    margin-top: 38%;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-bottom: -40%;
}

#expériences
{
    width: 60%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -7%;
    margin-bottom: -6%;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    letter-spacing: 1px;
    z-index: 999;
    column-width: auto;
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#poste
{
    list-style-type: square;
    color: white;
    line-height: 2.5em;
}

#compétences /* ensemble de la section de barres de progression */
{
    transform: translate(-50%; -50%);
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    flex-direction: row;
    background-color: rgb(243, 243, 243); 

    width: 56%;
    margin-left: 35%;
    margin-top: 0.8%;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-top: 4%; 
    padding-bottom: 4%;
    margin-bottom: 15%;
    letter-spacing: 0.3px;
    position: relative;
    display: inline-block;
    background-color: white;
    color: black;
    z-index: 998;
    line-height: 2em;
}

.skillBox
{
    box-sizing: border-box;
    margin: 20px 0;
}

.skillBox p
{
    color: rgb(68, 68, 68);
    margin: 0 0 5px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    font-size: 15px;
}

.skillBox p:nth-child(2)
{
    float: right;
    position: relative;
    top: -25px;
}

.skill
{
    background: rgb(68, 68, 68);
    padding: 2.5px;
    box-sizing: border-box;
    border: 1px solid rgb(158, 14, 64);
    border-radius: 3px;
}

.skill_level
{
    background-color:rgb(158, 14, 64);
    width: 100%;
    height: 7px;
}



.photobanniere
{
    margin-top: -27%;
    margin-left: 10%;
    z-index: 997;
    position: relative;
}
h2 /* ensemble des titres des sections */
{
    font-family: 'NimbusSansBeckerPBlaRegular', sans-serif;
    font-size: 28px;
    font-weight: 200;
    line-height: 45px;
    letter-spacing: 1px;
}





.conteneur /* ensemble des sections */
{

    min-height: 100%;
    height: auto;
    position: relative;
    word-wrap: break-word;
    flex-wrap: wrap;
    text-align: left;
    line-height: 160%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 17px;
    font-size: 15px;

}

section /* contenu de l'ensemble des sections */
{

    box-sizing: border-box;
    min-height: 100%;
}



h3 /* "footer Aurore GRANGIER" */
{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 15px;
    color: rgb(119, 119, 119);
    margin-top: -7%;
    padding-bottom: 1%;
    padding-top: 1%;
    position: relative;
    display: inline-block;
    

}

h4 /* "footer Développement Web" */
{
    font-family: 'TiemposHeadline-Bold', 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 1%;
    font-size: 25px;
    letter-spacing: 0px;
    color: rgb(71, 71, 71);
    margin-top: -5%;
    margin-bottom: 1%;
    padding-bottom: 1.5%;
    padding-top: 4%;

}

h5
{
    line-height: 2%;
}

.container /* portfolio*/
{
    width: 1000px;
    height: 500px;
    margin-left: 0%;
    margin-top: -6%;
    margin-bottom: 2%;
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 4.3%;
    padding-top: 4.3%;
    
}

.content /* titres et icônes du portfolio */
{
    margin-left: -50%;
    margin-top: 30%;
    text-align: justify;
    display: inline;
    color: rgb(71, 71, 71);
    font-family: 'NimbusSansBeckerPBlaRegular', sans-serif;
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 1px;
}

.container .box
{
    position: relative;
    width: 250px;
    height: 500px;
    background-color:rgb(131, 166, 151);
    transition: 0.5s;
}

.container .box .thumb
{
   position: absolute;
   width: 100%;
   height: 250px;
   overflow: hidden;
}

.container .box:nth-child(odd) .thumb
{
    bottom: 0;
    left: 0;
}

.container .box .thumb img
{
    width: 100%;
}

.container .box .details
{
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;

}

.container .box:nth-child(even) .details
{
    bottom: 0;
    left: 0;
}

.container .box .details .content
{
    position: absolute;
    top: calc(50% -16px);
    left: 50%;
    transform: translateY(-50%, -50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}

.container .box:hover
{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 5px 20px (rgba(0,0,0,1);
}

.footer
{
    text-align: left;
    position: absolute;
    float: left;
    bottom: 0;
    z-index: 999;
    background-color: white;
    color: rgb(161, 161, 161);
    height: 11%;
    width: 80%;
    -webkit-column-count:1; /* Opera, Safari, Google Chrome */
    -moz-column-count: 1; /* Firefox */
    column-count: 1; /* Internet Explorer */
    -webkit-column-gap: 1%;
    -moz-column-gap: 1%;
    column-gap: 1%;
}


@font-face
{
    font-family: 'NimbusSansBeckerPBlaRegular';
    src: url(font/NimbusSansBeckerPBlaRegular.otf);
}

@font-face
{
    font-family: 'HALOT';
    src: url(font/HALOT.ttf);
}

@font-face
{
    font-family: 'AsimovProBd';
    src: url(font/AsimovProBd.otf);
}




/* Sur tous types d'écran, quand la largeur de la fenêtre est inférieure à 780px et sur tous types d'écran orientés verticalement */
@media all and (max-width: 780px) and (orientation: portrait){

    #bloc_page
    {
        width: auto;
    }

    #header
    {
        height: 50px;
        margin-left: 0%;
        margin-right: 0%;
    }

    h2 h3 h4
    {
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }


    nav li a
    {
        font-size: 12px;
        padding: 10px;
    }

    nav li:hover a
    {
        padding: 5px 10px 10px 10px;
    }

    #conteneur
    {
        display: block;
        flex-direction: column;
        min-width: 350%;
        overflow: auto;
    }

    h2
    {
        line-height: 180%;
    }
}

